# Required env variables
PORT=7000
HOST=0.0.0.0
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sequence_sidekick?schema=public" # Created by docker
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# API_SECRET_KEY is a simple authentication, thing .etc.... its a hard-coded value global to the project
# don't leaks.. its used for ......
# you can just set this to anything you want, custom.. but make it random enough and long and secret
API_SECRET_KEY= # Set your own secret key for Sidekick, use it when making requests to the API

SEQUENCE_PROJECT_ACCESS_KEY= # Take it from Sequence Builder




# =====[ Optional Configuration ]=====

# ETHERSCAN_API_KEY=
# VERIFY_CONTRACT_ON_DEPLOY=

# DEBUG=true (enables debug logs)

# If using Google KMS
# PROJECT=
# LOCATION=
# KEY_RING=
# CRYPTO_KEY=
# CRYPTO_KEY_VERSION=

# If using AWS KMS
# AWS_REGION=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_KMS_KEY_ID=

# If using local signer (EVM private key)
# SIGNER_TYPE=local (defaults to this if no SIGNER_TYPE is found in env)
# EVM_PRIVATE_KEY= (required if SIGNER_TYPE=local)

# If using Google KMS
# SIGNER_TYPE=google_kms

# If using AWS KMS
# SIGNER_TYPE=aws_kms
